---
layout: default
---

<section id="home" class=" bg-img" data-section="info">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <img src="assets/imgs/grace.png" class="logo mx-auto img-fluid" alt="Grace Café"/>
            </div>
            <div class="row menu">
                <div class="col-md-4 info-hours">
                    {% for info in site.data.info.info %}
                        <p>Grace Cafe and Grill <br> 
                            {{ info.address }} <br>
                            {{ info.city }} <br>
                            {{ info.telephone }} <br>
                            {{ info.email}}
                        </p>
                        <p>Hours: {{ info.hours }}</p> 
                        {% if info.special_hours %}
                            <p>Event Information: {{ info.event_text_1 }} {{info.event_text_2}} {{info.event_text_3}}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1 class="lead">{{ site.data.info.appetizers.title }}</h1>
                    <h2 class="sublead">Main: {{ site.data.info.appetizers.main }} | Side: {{ site.data.info.appetizers.side }}</h2>
                    {% for item in site.data.info.appetizers.items %}
                        <p class="food-title">{{ item.name }}</p>
                        <p class="ingredients">{{ item.ingredients }}</em>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <h1 class="lead">{{ site.data.info.soups.title }}</h1>
                    <h2 class="sublead">Large: {{ site.data.info.soups.large }} | Small: {{ site.data.info.soups.small }}</h2>
                    {% for item in site.data.info.soups.items %}
                        <p class="food-title">{{ item.name }}</p>
                        <p class="ingredients">{{ item.ingredients }}</em>
                    {% endfor %}
                </div>
            </div>
            <div class="row menu menu-mains">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                            <h1 class="lead">{{ site.data.info.mains.title }}</h1>
                            {% for item in site.data.info.mains.items %}
                                <p class="food-title">{{ item.name }} |     {{ item.price }}</p>
                                <p class="ingredients">{{ item.ingredients }}</p>
                            {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</section>