---
layout: default
---

<section id="home" class=" bg-img" data-section="info">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                
            </div>
            <div class="row menu">
                <div class="col-md-4 info-hours">
                    <img src="assets/imgs/grace.png" class="logo mx-auto img-fluid" alt="Grace Café"/>
                    {% for info in site.data.info.info %}
                        <p>Grace Cafe and Grill <br> 
                            {{ info.address }} <br>
                            {{ info.city }} <br>
                            {{ info.telephone }} <br>
                            {{ info.email}}
                        </p>
                        <p>Hours: {{ info.hours }}</p> 
                        {% if info.special_hours %}
                            <p>Event Information: {{ info.event_text_1 }} {{info.event_text_2}} {{info.event_text_3}}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% if site.data.info.event_menu %}
                        <h1 class="lead">{{ site.data.info.event_menu.title }}</h1>
                        <h2 class="sublead">{{ site.data.info.event_menu.event_heading1 }}</h2>
                        {% for item in site.data.info.event_menu.items %}
                            <p class="food-title">{{item.name}} {% if item.name != "Sides" %}|   {{ item.price }}{% endif %}</p>
                            {% if item.option1 %}
                                <p class="ingredients">- {{ item.option1 }} {% if item.name == "Sides" %}|   {{ item.price1 }}{% endif %}</p>
                            {% endif %}
                            {% if item.option2 %}
                                <p class="ingredients">- {{ item.option2 }} {% if item.name == "Sides" %}|   {{ item.price2 }}{% endif %}</p>
                            {% endif %}
                            {% if item.option3 %}
                                <p class="ingredients">- {{ item.option3 }}</p>
                            {% endif %}
                            {% if item.option4 %}
                                <p class="ingredients">- {{ item.option4 }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <h1 class="lead">Call us for information on our daily soups!</h1>
                    <h1 class="lead">{{ site.data.info.salads.title }}</h1>
                    <h2 class="sublead">Main: {{ site.data.info.salads.main }} | Side: {{ site.data.info.salads.side }}</h2>
                    {% for item in site.data.info.salads.items %}
                        <p class="food-title">{{ item.name }}</p>
                        <p class="ingredients">{{ item.ingredients }}</em>
                    {% endfor %}
                    <h1 class="lead">{{ site.data.info.asian_influenced.title }}</h1>
                    <h2 class="sublead">Add Tofu - 1.0 / Chicken or Pork - 1.5 / Beef - 2.0 </h2>
                    {% for item in site.data.info.asian_influenced.items %}
                        <p class="food-title">{{ item.name }} |     {{ item.price }}</p>
                        <p class="ingredients">{{ item.ingredients }}</p>
                    {% endfor %}
                    <h1 class="lead">{{ site.data.info.steamed_buns.title }}</h1>
                    <h2 class="sublead">3 Buns: {{ site.data.info.steamed_buns.main }}</h2>
                    {% for item in site.data.info.steamed_buns.items %}
                        <p class="food-title">{{ item.name }}</p>
                        <p class="ingredients">{{ item.ingredients }}</em>
                    {% endfor %}
                </div>
            </div>
            <div class="row menu menu-mains">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                            <h1 class="lead">{{ site.data.info.mains.title }}</h1>
                            {% for item in site.data.info.mains.items %}
                                <p class="food-title">{{ item.name }} |     {{ item.price }}</p>
                                <p class="ingredients">{{ item.ingredients }}</p>
                            {% endfor %}
                    </div>
                </div>
        </div>
    </div>
    <div class="footer-space"></div>
</section>